.imageContainer img {
  max-width: 245px;
  height: auto;
  border-radius: 1rem;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: scroll-image;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

@keyframes scroll-image {
  from {
    transform: scale(0.1);
    opacity: 0.1;
  }
  to {
    transform: scale(1.5);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .imageContainer img {
    max-width: 245px;
  }
}
