@keyframes pulse-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.navlogo {
  text-decoration: none;
  display: inline-block;
}

.navlogo:hover .logocontainer {
  animation: pulse-scale 2s infinite ease-in-out;
}

@media (max-width: 992px) {
  .navlogo:hover .logocontainer {
    animation: none;
  }
}

@media (max-width: 992px) {
  .appbar {
    position: fixed !important;
    bottom: 0 !important;
    top: auto !important;
  }
}

@media (min-width: 993px) {
  .appbar {
    border-bottom: 0.5px solid #ddd;
    border-top: none;
  }
}

@media (max-width: 992px) {
  .appbar {
    border-top: 0.5px solid #ddd;
    border-bottom: none;
  }
}

.logoimg {
  max-height: 50px;
  height: auto;
}

@media (max-width: 247px) {
  .logoimg {
    max-height: 40px;
    margin-left: -12px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .navlogo:hover .logoimg {
    animation: pulse-scale 2s infinite ease-in-out;
  }
}

.logotext {
  font-size: 2.5rem;
  font-weight: 900;
  color: black;
  font-style: normal;
}

@media (max-width: 992px) {
  .logotext {
    display: none;
  }
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 32px;
}

.navbar {
  height: 30px;
}

@media (max-width: 400px) {
  .navContainer {
    gap: 30px;
  }
}

@media (max-width: 200px) {
  .navContainer {
    flex-direction: column;
    align-items: center;
    height: 30px;
    gap: 0px;
  }
}

.navlink {
  text-decoration: none;
  color: #e7562e;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  top: -3px;
  align-items: center;
}

.navlink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #e7762e;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.navlink:hover {
  color: #e7762e;
}

.navlink:hover::after {
  transform: scaleX(1);
}

.navlink.active {
  color: #e7762e;
}

.active::after {
  transform: scaleX(1);
}

.navlogin {
  color: #e7562e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.navlogin:hover {
  color: #e7762e;
  transform: scale(1.1);
  transition: transform 0.2s;
}
