@keyframes pulse-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.navlogo {
  text-decoration: none;
  display: inline-block;
}

.navlogo:hover .logocontainer {
  animation: pulse-scale 2s infinite ease-in-out;
}

@media (max-width: 600px) {
  .navlogo:hover .logocontainer {
    animation: none;
  }
}

.logoimg {
  max-height: 40px;
  height: auto;
}

.logotext {
  font-size: 1.9rem;
  font-weight: bold;
  color: black;
}

@media (max-width: 600px) {
  .logotext {
    display: none;
  }
}

.navlink {
  text-decoration: none;
  color: #ff5500;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
}

.navlink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #ff5500;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.navlink:hover::after {
  transform: scaleX(1);
}

.active::after {
  transform: scaleX(1);
}
