.collage-container {
  width: 800px;  /* Fijamos el ancho */
  height: 400px; /* Fijamos la altura */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el marco en la pantalla */
  overflow: hidden;
  background: black;
  border: 10px solid white; /* Marco visible */
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border: "2px solid #000",
}


.collage-image {
  position: absolute;
  border-radius: 10px;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
